<config>
	<scene name="City like scene" daytime="1" conditions="1"/>
	<crowd models="Helena|John|Reptiliusz" maxpeople="75"/>
	<simulation tracking="false" scenariopath="TwoAgentTest" length="0" repeats="5" instances="2"/>
	<results path="D:/Screenshots" file="jpg" type="3" annotationsfile="xml" annotationstype="1" />
</config>